.DashboardTileContainer {
    display: flex;
    flex-direction: column;
    height: 100%
}

.DashboardTileHeader {
    color: rgb(13, 103, 151);
    margin-top: 0%;
    font-size: 20px;
    margin: 0 0 20px 0;
}

.DashboardTileButtonFlexbox {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: flex-end;
    align-items: flex-end;
}