
.ResourcePreviewImage {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin: 5px;
}

.ResourcePreviewContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ResourcePreviews {
    display: flex;
    flex-direction: row;
}


.ResourcesBox {
    background-color: white;
}
