.NewsDataImage {
    max-width: 150px;
    max-height: 100px;
}

.NewsDataTextContainer {
    display: flex;
    flex-direction: column;
}

.NewsDataContainer {
    display: flex;
    flex-direction: row;
}

.NewsDataTitle {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
}

.NewsDataDate {
    font-size: 16px;
    margin-bottom: 5px;
}

.Button {
    height: 42px;
    border: none;
    font-size: 16px;
    color: rgb(13, 103, 151);
    cursor: pointer;
    background-color: transparent;
}

.Button:hover {
    opacity: 0.7;
}

.ButtonContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    align-items: flex-end;
    justify-content: flex-end;
    box-sizing: border-box;
}

.Loading {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-grow: 1;
}