.TrendingPostsPreviewLabel {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.TrendingPostsPreviewMessage {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid #CCCCCC;
    padding: 10px;
}

.TrendingPostsPreviewImage {
    max-width: 42px;
    width: 42px;
    height: 42px;
}