.TrendingPostsPreviewLabel {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.TrendingPostsPreviewMessageLink {
    text-decoration: none;
    color: #000000;
    display: flex;
}

.TrendingPostsPreviewMessageLink :hover {
    background-color: #E8E8E8;
}

.TrendingPostsPreviewMessage {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid #CCCCCC;
    padding: 10px;
    flex-grow: 1;
    cursor: pointer;
}

.TrendingPostsPreviewImage {
    max-width: 42px;
    width: 42px;
    height: 42px;
}

.Button {
    height: 42px;
    border: none;
    font-size: 16px;
    color: rgb(13, 103, 151);
    cursor: pointer;
    background-color: transparent;
}

.Button:hover {
    opacity: 0.7;
}

.ButtonContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    align-items: flex-end;
    justify-content: flex-end;
    box-sizing: border-box;
}