.TherapistsPreviewButton {
    height: 42px;
    width: 200px;
    border: none;
    font-size: 16px;
    background-color: rgb(13, 103, 151);
    color: white;
    cursor: pointer;
}

.TherapistsPreviewButton:hover {
    background-color: gray;
}

.TherapistsPreviewContainer {
    display: flex;
    flex-direction: column;
    height: 100%
}

.TherapistsPreviewButtonContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    align-items: flex-end;
    justify-content: flex-end;
    /* padding: 10px; */
    box-sizing: border-box;
}