.InfoCardLinkContainer {
    text-decoration: none;
    color: #333333;
    margin-top: 20px;
    background-color: #FFFFFF;
    border-radius: 8px;
    box-shadow: 3px 3px 3px #CCCCCC;
}

.InfoCardLinkContainer :hover {
    opacity: 0.7;
}

.InfoCardContainer {
    display: flex;
    align-items: center;
    padding: 20px;
    font-family: 'Calibri', 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;    
    background-color: transparent;
}

.Title {
    font-weight: bold;
    font-size: 22px;
    margin-bottom: 8px;
}

.Name {
    font-weight: bold;
    margin-bottom: 8px;
}

.ProfilePicture {
    width: 50px; 
    height: 50px;
    border-radius: 25px;
}

.IconDetailsContainer {
    display: flex;
    flex-direction: row;
    align-items: center;   
}