.InfoCardContainer {
    display: flex;
    align-items: center;
    margin-top: 20px;
    padding: 20px;
    box-shadow: 3px 3px 3px #CCCCCC;
    font-family: 'Calibri', 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    background-color: white;
    border-radius: 8px;
}

.Title {
    font-weight: bold;
    font-size: 22px;
    margin-bottom: 8px;
}

.Name {
    font-weight: bold;
    margin-bottom: 8px;
}

.ProfilePicture {
    width: 50px; 
    height: 50px;
    border-radius: 25px;
}

.IconDetailsContainer {
    display: flex;
    flex-direction: row;
    align-items: center;   
}