.UpcomingEventsPreviewImage {
    width: 42px;
    height: 42px;
    min-width: 42px;
}

.UpcomingEventsPreviewDataText {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 15px;
}

.UpcomingEventsPreviewDataContainer {
    display: flex;
    flex-direction: row;
}